.Carousel {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  display: grid;
  place-content: center;

  width: 1080px;
  max-width: 94vw;
  
  min-height: 80vh;
  margin: 1rem 0;
}
