.ContactForm {
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 98vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  min-width: fit-content;
  padding: 1rem 3rem 2rem;

  color: var(--text2);

  background-color: var(--surface4);
  border-radius: 24px;

  transition: background-color 0.2s ease-in-out;
}

.ContactForm > h4 {
  color: var(--text2);
  font-size: 0.8rem;
  margin-bottom: 24px;
}
.ContactForm > h1 {
  color: var(--text1);
}

.ContactForm input[type="text"] {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;

  border: 2px solid transparent;
  border-radius: 0.8em;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.ContactForm input[id="name"] {
  margin-left: 0;
}

.ContactForm input[type="text"]:focus,
.ContactForm input[type="text"]:active,
.ContactForm input[type="submit"]:focus,
.ContactForm input[type="submit"]:active {
  border: 2px solid var(--brand);
}

.ContactForm input[id="step"] {
  pointer-events: none;

  width: 100%;

  font-weight: bold;
  text-align: center;

  background-color: var(--surface4);
}

.ContactForm textarea {
  width: 100%;
  padding: 0.6em;

  border: 2px solid transparent;
  border-radius: 0.8em;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.ContactForm textarea:focus,
.ContactForm textarea:active {
  border: 2px solid var(--brand);
}

.ContactNote {
  margin-bottom: 1em;

  font-size: small;
  font-weight: 300;

  opacity: 0.3;
}

.ContactForm label {
  width: 100%;
}

.ContactForm input[type="submit"] {
  cursor: pointer;

  width: 100%;
  margin-top: 1.8em;
  padding: 0.5em 0.8em;

  font-weight: bold;

  background-color: var(--surface2);
  border: 2px solid transparent;
  border-radius: 0.6em;
  outline: none;
}

.ContactForm input[type="submit"]:disabled {
  cursor: auto;

  color: var(--text1);

  background-color: var(--suface4);
}

.ContactForm input[type="submit"]:focus {
  border: 2px solid var(--brand);
}

.ContactCross {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;

  margin: 0.6em;
  padding: 0.6em;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
}

.Shadow {
  position: fixed;
  z-index: 1000;
  top: -100%;
  left: -100%;

  width: 200vw;
  height: 200vh;

  opacity: 0.8;
  background-color: #000;
}

.Row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .Row {
    flex-direction: column;
  }

  .ContactForm {
    padding: 1rem 2rem;
  }

  .ContactForm input[id="step"],
  .ContactForm textarea,
  .ContactForm > button[type="submit"] {
    width: 100%;
  }
}
