.ExtraLayout {
  position: fixed;
  z-index: 1001;
  top: 2%;
  right: 2%;

  display: flex;

  background-color: var(--surface2);
  opacity: 0.8;
  backdrop-filter: blur(21px);
  border-radius: 0.8em;

  transition: all 0.5s ease;
  box-shadow: var(--shadow);
}

.ExtraLayout-desktop {
  flex-direction: row;

  padding: 0.5rem 1rem;
}

.ExtraLayout-mobile {
  flex-direction: column;

  padding: 0.25rem 0.4rem;
}

.ChooseLangPopup {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: var(--surface3); */
  border-radius: 12px;
}

.ChooseLangPopup-vertical {
  flex-direction: column;
}

.ChooseLangPopup-horizontal {
  flex-direction: row;
}

.ExtraLayout button {
  margin: 6px;
  padding: 4px;
  border-radius: 0.4em;
}

.ExtraLayout-mobile > button {
  padding: 6px;
}

.ExtraLayout .active {
  border: 2px solid var(--brand);

  scale: 1.1;
}

.ChooseLangPopup > button {
  min-width: 2em;
}
