.FormNav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 12px;
}

.FormNav-greeting {
  position: relative;

  justify-content: space-around;

  margin-top: 12px;
}

.FormNav-step {
  align-items: center;
  justify-content: space-between;
}

.FormNav-step > div {
  display: flex;
  align-self: center;
  justify-content: center;
}

.FormNav-step > .Home {
  margin-left: 1rem;
}

.FormNav-step > .End {
  margin-right: 1rem;
}

.FormNav-step > .Home,
.FormNav-step > .End {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 55px;
}

.FormNav-result {
  position: relative;

  justify-content: space-between;

  margin-top: 24px;
  margin-bottom: 6px;
}

.FormNav-result > div {
  display: flex;
  align-self: center;
  justify-content: center;
}

.FormNav button {
  cursor: pointer;

  padding: 1rem;

  font-size: 1.1rem;
  font-weight: bold;
  color: var(--font-main);

  background-color: var(--background-els);
  border: 1px solid var(--background-main);
  border-radius: 6px;
  outline: none;
}

.FormNav-greeting button {
  width: 40%;
}

.FormNav .ReversedBtn {
  color: var(--font-reverse);

  background-color: var(--background-reverse);
}

.FormNav .ReversedBtn:hover {
  background-color: var(--background-reverse-shade);
}

.FormNav button:focus {
  border-color: darkviolet;
}

.FormNav button:hover {
  background-color: var(--active-els);
}

.FormNav button:active {
  background-color: var(--background-main);
}

@media screen and (max-width: 720px) {
  .FormNav-greeting {
    flex-direction: column;
    justify-content: center;
  }

  .FormNav-step {
    position: relative;

    flex-direction: column;
    justify-content: center;

    margin-top: 50px;
  }

  .FormNav-step > .Home {
    align-self: start;

    margin: 0;
  }

  .FormNav-step > .End {
    align-self: end;

    margin: 0;
  }

  .FormNav-step > div {
    width: 100%;
    margin: 12px 0;
  }

  .FormNav-result {
    flex-direction: column;
    justify-content: center;
  }

  .FormNav-result > div {
    width: 100%;
    margin-top: 24px;
  }

  .FormNav-greeting > button {
    width: 98%;
  }

  .FormNav-greeting > button:first-child {
    margin-bottom: 24px;
  }
}

.FormNav .Submit {
  width: 40%;
  min-width: 350px;
  height: 60px;
  margin-left: 12px;

  font-size: 1.1rem;
}

.FormNav .Back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
}

.FormNav > .Home {
  width: 120px;
}

@media screen and (max-width: 720px) {
  .FormNav .Submit {
    width: 100%;
    min-width: 120px;
    height: 50px;
    margin-left: 6px;

    font-size: 1rem;
  }

  .FormNav .Back {
    width: 50px;
    height: 50px;
  }

  .FormNav > .Home {
    width: 40%;
  }

  .FormNav > .End {
    width: 40%;
  }
}
