.FormNav {
  display: flex;
  flex-direction: row;

  margin-top: 1em;
  margin-bottom: 2em;

  width: 100%;
}

.FormNav-greeting {
  position: relative;

  justify-content: space-around;
}

.FormNav-step {
  align-items: center;
  justify-content: space-between;
}

.FormNav-step > div {
  display: flex;
  align-self: center;
  justify-content: center;
}

.FormNav-step > .Home,
.FormNav-step > .End {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
}

.FormNav-result {
  position: relative;

  justify-content: space-between;
}

.FormNav-result > div {
  display: flex;
  align-self: center;
  justify-content: center;
}

.FormNav button {
  padding: 1rem;
  height: 55px;

  font-size: 1.1rem;
  font-weight: bold;

  background-color: var(--surface3);
  border-radius: 6px;

  box-shadow: var(--shadow);

}

.FormNav-greeting button {
  width: 40%;
}

.FormNav .ReversedBtn {
  color: var(--text2);
  background-color: transparent;
  border-width: 1px;
  border-color: var(--text2);
}

.FormNav .ReversedBtn:focus,
.FormNav .ReversedBtn:active {
  border: 2px solid var(--brand);
}

.FormNav .ReversedBtn:hover {
  border: 2px solid var(--text1);
}

@media screen and (max-width: 720px) {
  .FormNav-greeting {
    flex-direction: column;
    justify-content: center;
  }

  .FormNav-step {
    position: relative;

    flex-direction: column;
    justify-content: center;

    margin-top: 2em;
  }

  .FormNav-step > .Home {
    align-self: start;
  }

  .FormNav > .End {
    align-self: end;
  }

  .FormNav > div {
    width: 100%;
    margin: 1rem 0;
  }

  .FormNav-result {
    flex-direction: column;
    justify-content: center;
  }

  .FormNav-greeting > button {
    width: 100%;
  }

  .FormNav > button + button {
    margin-top: 1.5em;
  }
}

.FormNav .Submit {
  width: 40%;
  min-width: 350px;
  height: 60px;
  margin-left: 12px;

  font-size: 1.1rem;
}

.FormNav .Back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
}

.FormNav > .Home {
  width: 120px;
}

@media screen and (max-width: 720px) {
  .FormNav .Submit {
    width: 100%;
    min-width: 120px;
    height: 70px;
    margin-left: 6px;

    font-size: 1rem;
  }

  .FormNav .Back {
    width: 70px;
    height: 70px;
  }

  .FormNav > .Home {
    width: 40%;
    min-width: 80px;
    max-width: 150px;
    height: 60px;

  }

  .FormNav > .End {
    width: 40%;
    min-width: 80px;
    max-width: 150px;
    height: 60px;

  }
}
