.Prompt {
  position: absolute;
  z-index: 1;
  top: -15%;

  padding: 1em 2em;

  font-weight: bold;
  color: var(--font-main);
  text-align: center;

  background-color: var(--surface1);
  border-radius: 0.6em;
}

.Prompt::before {
  content: "";

  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);

  border: 10px solid transparent;
  border-top: 10px solid var(--surface1);
}
