.Prompt {
  position: absolute;
  z-index: 1;
  top: -15%;

  padding: 16px 26px;

  font-weight: bold;
  color: var(--font-main);
  text-align: center;

  background-color: var(--background-main);
  border-radius: 4px;
}

.Prompt::before {
  content: "";

  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);

  border: 10px solid transparent;
  border-top: 10px solid var(--background-main);
}
