.ResultContentField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-width: 240px;
  min-height: 80px;
  padding: 4px 12px;
}

.ResultContentFieldTitle {
  cursor: pointer;

  color: var(--text1);
  text-align: left;
  letter-spacing: 1px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.625em;
  padding: 0.3em 0.4em;
  outline: none;
}

.ResultContentFieldTitle:hover {
  scale: 1.1;
}

.ResultContentFieldText {
  position: relative;

  padding: 6px 18px;

  background-color: var(--surface4);
  color: var(--text2);
  border-radius: 0.6em;
}

@media screen and (max-width: 720px) {
  .ResultContentFieldText {
    padding: 4px 8px;
  }
}
